.App {
  text-align: center;
  font-family: 'Montserrat';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.button-custom{
  background-color: #84A59D; /* Set the desired button background color */
  color: white; /* Set the text color to contrast with the background */
  border: none; /* Optionally, remove the button border if desired */
  /* Add more custom styling as needed */
}
button-custom:active {
  background-color: #84A59D;
}
button-custom:hover {
  background-color: #84A59D; /* Set the desired button background color */
  color: white; /* Set the text color to contrast with the background */
  border: none; /* Optionally, remove the button border if desired */
  /* Add more custom styling as needed */
}
button-custom:focus {
  background-color: #F6BD60;
  color: white; /* Set the text color to contrast with the background */
  border: none; /* Optionally, remove the button border if desired */
}

/* Add this to your CSS file */
.active {
  background-color: #84A59D;
  color: white;
}

/* Customize styles further as needed */
body, h2, h3 {
  font-family: 'Montserrat Light', 'Montserrat', sans-serif;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #84A59D;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
