body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button-custom{
  background-color: #F6BD60; /* Set the desired button background color */
  color: white; /* Set the text color to contrast with the background */
  border: none; /* Optionally, remove the button border if desired */
  /* Add more custom styling as needed */
}

.button-custom:hover {
  background-color: #84A59D; /* Set the desired button background color */
  color: white; /* Set the text color to contrast with the background */
  border: none; /* Optionally, remove the button border if desired */
  /* Add more custom styling as needed */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}